.product-details {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  min-height: 70vh;
}

.product-details img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
}

.product-info{
  max-width: 400px;
}

.product-info h1{
  margin-bottom: 15px;
  font-size: 32px;
}

.product-info p{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
}

.product-info button{
  padding: 12px 24px;
  border: none;
  
}