.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #5f5c5c;
  border-radius: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}


.navbar-logo {
  color: white;
  margin: 0;
}

.navbar-links {
  display: flex;
  gap: 25px;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #ff6b6b;
}

@media (max-width: 768px) {
  nav {
    padding: 15px 20px;
  }

  nav div {
    gap: 15px;
  }

  nav h2 {
    font-size: 20px;
  }

  nav a {
    font-size: 14px;
  }
}
